<div class="container">
    <div class="row">
          <ul class="collapsible col s6 offset-s3" data-collapsible="accordion">
            <li ng-repeat="dato in $ctrl.data">
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{dato.nombre}}</div>
              <div class="collapsible-body">
                  <p>
                      <h5>{{dato.correo}}</h5>
                      <h5>{{dato.message}}</h5>
                  </p>
              </div>
            </li>
          </ul>
    </div>
</div>